.App{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-weight: bold;
}

input, button{
  width: 200px;
  height: 30px;
  font-size: 20px;
  border-radius: 5px;
}